@font-face {
    font-family: menuFont;
    src: url("fonts/MyriadPro-Regular.otf");
}

body{
	overflow-x: hidden;
}

#offert.section-header{
	margin-top:0px;
	vertical-align: middle;
}

.container.first-section img {
    height: 160px;
}

*:focus {
outline: 0;
}

.container.fourth-section img {
    max-height: 160px;
}
.first-section{
	max-width: 951px;
	padding-top: 38px;
	text-align: center;
	padding-bottom:46px;
}

.first-section p{
	text-align: center;
}
.first-section h3{
	text-align: center;
	font-weight: bold;
	color:#4ca5df;
	font-family: menuFont;
}
.second-section{
	text-align: center;
	padding-top: 38px;
	padding-bottom: 46px;
}
.second-section h3{
	font-family: menuFont;
	font-weight: bold;
}
.third-section{
	padding-top:38px;
	padding-bottom: 46px;
	}

 .fourth-section{
	 text-align: center;
	 padding-top: 38px;
	 padding-bottom: 46px;
 }

 .how-pics p {
	 text-align: center;
 }
.how-pics h3{
	color: #32a0db;
	font-family: menuFont;
	font-weight: bold;
}

 .first-section button, .second-section button, .fourth-section button, .third-section button, #recomm button{
 	background-color:#f59201;
	color: #ffffff;
	font-family: menuFont;
	text-transform: uppercase;
	text-align: center;
	padding-top: 6px;
	border:none;

 }

.people{
	background-image: url('assets/people.png');
	height: 585px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.section-header{
	background-color: #32a0db;
/*	height: 51px; */
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	padding:0px
}

#logo.navbar-header{
 padding-left: 227px;

}

#section-title{
		vertical-align: middle;
}

#news{
	margin-top:0px;
	}

.navbar-nav{
	text-transform: uppercase;
}

.how-pics h3{
	text-align: center;
}

#recomm {
	text-align: justify;
	display: inline-block;
}

#mainMenu{
	font-size: 14.5px;
	font-family: menuFont;
	padding-top:75px;
	color: #76bce2;
}

#mainMenu>li>a{
	color:#76bce2;
	background-color: none;
}

#mainMenu>li>a:hover{
	color: #f19202;
	text-decoration:underline;
	background-color: #ffffff;

}

.end-section {
	background-color: #f19202;
	background-size: 100%;
	width: 100%;
	height: 428px;
	padding: 0px;
	text-align: center;
	margin-top:-10px;
}
.end-section p{
	font-family: menuFont;
	color: #ffffff;
	text-align: justify;
	padding-top:23px;
}

#teacherInfo{
	font-size: 15px;
	text-align: center;
}

#tInfo{
	text-align: center;
}

.footer-section{
	text-align: center;
}

.contact{
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}

#newsletter{
	border: solid #32a0db;
}

#register{
	background-color: #32a0db;
	color: #ffffff;
	font-family: menuFont;
	text-transform: uppercase;
	margin-left: -4px;
	border: none;
	padding-top: 6px;
	padding-bottom: 2px;
}

#author{
	color:#4ca5df;
	font-family: menuFont;
}

#dateInfo{
	padding-left:30px;
	font-size: 12px;
}

br{
	margin: 8px 0;
	display:block;
}


.two-title {
	padding-left:0px;
	padding-right: 0px;
}

.recomm-box{
	text-align: center;
}
